{# Service template: overview 2 section template #}
<section class="service-overview mt-5 mb-4">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<h6 class="text-blue text-uppercase">{{ content.field_overview_sub_title }}</h6>
				<h3 class="mb-4">{{ content.field_overview_title }}</h3>
				{{ content.field_overview_body }}
			</div>
			<div class="col-lg-6 ">
					{{ content.field_overview_video }}
					<div class="overview-image-wrapper my-4">{{ content.field_overview_image }}</div>
			</div>
		</div>
</section>
