<section class="service-overview service-overview-single-first">

	<div class="full-width bg-white"></div>

	<div class="wrapper">
		<div class="row">
			<div class="col">
				<h6 class="text-blue text-uppercase">{{ content.field_overview_sub_title }}</h6>
				<h3 class="mb-4">{{ content.field_overview_title }}</h3>
				{{ content.field_overview_body }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="overview--img mt-4 mt-xl-0">
					{{ content.field_overview_video }}
					<div class="overview-image-wrapper">{{ content.field_overview_image }}</div>
				</div>
			</div>
		</div>
	</div>
</section>
